

	
	.content {
		max-width: 1000px;
		margin:auto;
			}
h1 {text-align: center;}


	body 
		{background-color: rgb(232,226,208);}
		.h {color: rgb(135, 131, 117);}
		.b {color: rgb(120, 116, 103);}

p {font-size:130%;line-height: 2.0;
}